/* PC */
@media screen and (min-width: 1025px) {
    
}

/* Máy tính bảng loại to, hiển thị chiều ngang */

@media screen and (max-width: 1024px) {
    
}

/* Máy tính bảng loại to, hiển thị chiều dọc */

@media screen and (max-width: 768px) {
    .header .bottom .right{
        display: none;
    }
    .header .bottom .left{
        align-items: center;
    }
    .header .bottom .left>.p1{
        width: 100%;
    }
    .header .bottom .left>h1{
        /* background-color: aqua; */
        max-width: 100%;
        text-align: center;
    }
    .header .bottom .left>.p2{
        max-width: 100%;
        text-align: center;
    }
}

/* máy tính bảng, hiển thị chiều dọc */

@media screen and (max-width: 600px) {
    
}

/* điện thoại di động, hiển thị chiều ngang */

@media screen and (max-width: 480px) {
    .header .top .login{
        display: none;
    }
    .header .top .mobie{
        display: block;
    }
    .section1>.bottom{
        flex-direction: column;
        gap: 4rem;
        margin-top: 5rem;
    }
    .section1>.bottom>.item{
        text-align: center;
    }
    .section1>.bottom>.item>.p2{
        max-width: 100%;
    }
}

/* điện thoại di động, hiển thị chiều dọc */

@media screen and (max-width: 320px) {
    
}







/* Bất quy tắt */

@media screen and (min-width: 901px) {
    .header .top .menu .close{
        display: none;
    }
    .header .top .menu .title{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .header .top .menu{
        position: fixed;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 100vh;
        width: 270px;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        transition: all 0.4s linear;
        
    }

    .header .top .menu_mobile{
        display: block;
        cursor: pointer;
    }
    .header .top .menu .close{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .header .top .menu .close:hover{
        fill: red;
    }
    .header .top .menu .title{
        text-align: center;
        margin-top: 15px;
        font-size: 2rem;
    }
    .header .top .menu>ul{
        display: block;
        margin-top: 15px;
    }
    .header .top .menu>ul>li+li{
        border-top: 1px solid gray;
        /* margin: 10px auto; */
    }
    .header .top .menu>ul>li>a{
        width: auto;
        text-align: left;
        padding: 10px;
    }
    #check_menu:checked ~ .menu{
        opacity: 1;
        transform: translateX(-100%);
    }
    #check_menu:checked ~ .overlay{
        display: block;
        animation: fadein 0.4s linear forwards;
    }

    .section4{
        flex-direction: column;
    }
    .section4>.left{
        padding-bottom: 4rem;
    }
    .section4>.left>.p1{
        max-width: 100%;
    }
    .section4>.left>.btn_arrow{
        justify-content: center;
    }
    .section4>.right>.img.img1{
        left: 5%;
    }
    .section4>.right>.img.img2{
        top: 0;
    }

    .section4>.right>.img.img5{
        left: 0;
    }
}


@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 877px) {
.section2>.bottom{
    flex-direction: column;
    align-items: center;
    gap: 120px;
}
.section2>.bottom>.item>.img{
    max-width: 50rem;
}
}