.header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: auto;
    padding: 2rem 3rem;
    width: 100%;
    max-width: 1230px;
    border-bottom: 1px solid rgba(168, 167, 167,0.5);
    background-color: rgba(255, 255, 255,0.9);
    z-index: 5;
}
.header .top .menu ul{
    display: flex;

}

.header .top .menu ul li{
    margin: 0 20px;
}

.header .top .menu ul li a{
    font-size: 1.6rem;
    color: var(--color-text-menu);
    display: block;
    width: 6rem;
    text-align: center;
}
.header .top .menu ul li a:hover,
.header .top .menu ul li:first-child>a{
    color: var(--color-text-menu-hover);
    font-weight: bold;
}
.header .top .login{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header .top .login .signin>a{
    color : var(--color-text-menu); 
    width: 6rem;
    text-align: center;
    display: block;
}
.header .top .login .signin>a:hover{
    color: var(--color-text-menu-hover);
    font-weight: bold;
   
}

.header .top .login .signup>a{
    color: var(--color-primary);
    font-size: 1.6rem;
    border: 1px solid var(--color-primary);
    padding: 10px 20px;
}
.header .top .login .signup>a::after{
    background-color: var(--color-primary);
}
.header .top .login .signup>a:hover{
    color: var(--color-white);
}

.header .top .menu_mobile{
    display: none;
}
.header .top .mobie{
    display: none;
}
.header .top .overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(211, 209, 209,0.5);
    z-index: 1;
    display: none;
}

.header .bottom{
    margin-top: 100px;
    display: flex;
    padding-bottom: 1rem;
}
.header .bottom>*{
    flex: 1;
}

.header .bottom .left{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    
}
.header .bottom .left>.p1{
    font-size: 1.4rem;
    color: var(--color-text);
}
.header .bottom .left> h1{
    font-size: 6.2rem;
    font-weight: bold;
    max-width: 460px;
    line-height: 7.2rem;
    padding: 2rem 0;
}
.header .bottom .left>.p2{
    font-size: 1.8rem;
    color: var(--color-text);
    line-height: 3.2rem;
    max-width: 330px;
}
.header .bottom .left>.submit{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.header .bottom .left>.submit>a{
    padding: 2rem 4rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    
}
.header .bottom .left>.submit>a::after{
    background-color: rgb(63, 63, 63);
}
.header .bottom .left>.submit>.play{
    /* background-color: blue; */
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(177, 164, 164,0.5);
}
.header .bottom .left>.submit>.play:hover{
    animation: play 2s linear infinite;
}
.header .bottom .left>.submit>.play>svg{
    transform: translateX(3px);
}

@keyframes play {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



.header .bottom .right .img{
    max-width: 576px;
    height: 630px;
    position: relative;
}
.header .bottom .right .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .bottom .right .img>.more1{
    position: absolute;
    top: 100px;
    left: -7%;
    background-color: white;
    display: flex;
    gap: 15px;
    border-radius: 7px;
    padding: 15px 25px;
    box-shadow: 0 0 5px rgba(219, 219, 219,0.5);
}
.header .bottom .right .img>.more1>p{
    font-size: 1.6rem;
}
.header .bottom .right .img>.more2{
    position: absolute;
    top: 440px;
    left: -7%;
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px;
    box-shadow: 0 0 5px rgba(219, 219, 219,0.5);
}
.header .bottom .right .img>.more2>.svg{
    margin-top: 12px;
}
.header .bottom .right .img>.more3{
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: white;
    padding: 15px 25px;
    border-radius: 15px;
}
.header .bottom .right .img>.more3>.img{
    width: 137px;
    height: 33px;
    margin-top: 10px;
}
.header .bottom .right .img>.more3>.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section 1 */

.section1{
    padding-top: 10rem;
}
.section1>.top>.p1{
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: var(--color-text);
}
.section1>.top>h2{
    font-size: 4.2rem;
    max-width: 500px;
    line-height: 5.6rem;
    padding: 1.5rem 0;
}
.section1>.top>.p2{
    font-size: 1.8rem;
    color: var(--color-text);
    max-width: 537px;
    line-height: 2.5rem;
}
.section1>.bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
    flex-wrap: wrap;
    gap: 2rem;
}
.section1>.bottom>.item{
    flex: 1;
    /* text-align: center; */
    
}
.section1>.bottom>.item>.p1{
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}
.section1>.bottom>.item>.p2{
    font-size: 1.6rem;
    color: var(--color-text);
    max-width: 180px;
}

.section2{
    padding-top: 10rem;
}
.section2>.top>.p1{
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: var(--color-text);
}
.section2>.top>h2{
    font-size: 4.2rem;
    max-width: 500px;
    line-height: 5.6rem;
    padding: 1.5rem 0;
}
.section2>.top>.p2{
    font-size: 1.8rem;
    color: var(--color-text);
    max-width: 537px;
    line-height: 2.5rem;
}
.section2>.bottom{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.section2>.bottom>.item{
    position: relative; 
}
.section2>.bottom>.item>.img{
    width: 36rem;
    height: 39rem;
    border-radius: 10px;
    overflow: hidden;
}
.section2>.bottom>.item>.img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2>.bottom>.item>.more{
    background-color: var(--color-white);
    position: absolute;
    top: 80%;
    left: 1.5rem;
    right: 1.5rem;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(192, 191, 191,0.3);   

}
.section2>.bottom>.item>.more>h2{
    font-size: 2.2rem;
}
.section2>.bottom>.item>.more>.price{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.section2>.bottom>.item>.more>.price>.span1{
    font-size: 1.6rem;
    color: var(--color-text);
    display: inline-block;
    transform: translateY(-3px);
}
.section2>.bottom>.item>.more>.price>.span2{
    font-size: 2.2rem;
    font-weight: bold;
}
.section2>.bottom>.item>.more>.p1{
    font-size: 1.5rem;
    color: var(--color-text);
    margin-bottom: 1.2rem;
}
.section2>.bottom>.item>.more>.info>*{
    position: relative;
    display: inline-block;
    padding-left: 1.6rem;
}
.section2>.bottom>.item>.more>.info>span::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--color-primary);
}
.section2>.bottom>.item>.more>.info>span:last-child{
    margin-left: 1.2rem;
}